#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	make user

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_install:
	# 安装到 debian/tmp，供 dh_install 从 debian/install 拾取
	make install DESTDIR=$(CURDIR)/debian/tmp PREFIX=/usr

override_dh_auto_install:
	install -D -m 0755 src/limiter debian/speed-limiter/usr/bin/limiter
	install -D -m 0644 src/limiter.bpf.c debian/speed-limiter/usr/share/speed_limiter/limiter.bpf.c
	install -D -m 0644 src/limiter.h debian/speed-limiter/usr/share/speed_limiter/limiter.h
	install -D -m 0644 Makefile debian/speed-limiter/usr/share/speed_limiter/Makefile.src
	install -D -m 0755 debian/postinst debian/speed-limiter/DEBIAN/postinst
